### This notebook mainly contains exercises of:
- build in functions
- data types methods

In [ ]:
a = "This is text"

# display this string.                                                                                                                                             Print(a) or a

In [ ]:
a = ["dog", "cat", "mouse", "bird"]

# get first element of this list.                                                                                                                                             a[0]

In [ ]:
a = "Hello world"

# turn this string into set.                                                                                                                                             set(a)

In [ ]:
a = [1, 1, 6, 6, 5, 1, 1]

# using this list get 3 elements in the middle [6, 6, 5].                                                                                                   a[2:5]

In [ ]:
a = ["dog", "cat", "mouse", "bird"]

# replace element at index 1 into "catto".                                                                                                                  a[1] = "catto"

In [ ]:
a = [1, 1, 6, 6, 5, 1, 1]

# copy this list into "b" variable.                                                                                                                         b = a.copy #its not the same as a = b

In [ ]:
# create list containing numbers from 0 to 50.                                                                                                              a = list(range(50))

In [ ]:
a = [2, 6, 1, 8, 2, -8, 9, -20, 12, 1]

# get the smalles value in the list.                                                                                                                        min(a)

In [ ]:
a = [2, 6, 1, 8, 2, -8, 9, -20, 12, 1]

# get the largest value in the list.                                                                                                                         max(a)

In [ ]:
a = {"brand": "Ford", 'kaja': 'maj'}
b = {'kaja': 'maj', 'maid': 'wolf'}

# combine these dictioneries so there are no multiple elements.                                                                                             c = {**a, **b} or c = a | b

In [ ]:
a = [1, 2, 3]

# add all elements together.                                                                                                                                sum(a)

In [ ]:
a = [1, 0, 1, 2, 0, 2, 1, 1, 3, 2, 2, 0, 2, 1]

# remove all duplicate elements from this list.                                                                                                             a = list(set(a))

In [ ]:
# do somethink so the numbers will be alongside each other.                                                                                                 print(i, end="")

for i in range(11):
    print(i)

In [ ]:
a = "Hello"
b = " World"

# add these 2 strings together.                                                                                                                             print(a + b)

In [ ]:
# in one line create a = 1 and b = 2.                                                                                                                       a, b = 1, 2

In [ ]:
# what number represents "G" in ASCII.                                                                                                                      ord("G")

In [ ]:
# what ASCII character represents number 80.                                                                                                                chr(80)

In [5]:
a = [1, 2]
b = (3, 4)

# create new list containing elements from both containers using unpacking.                                                                                 c = [*a, *b]

[1, 2, 3, 4]

In [ ]:
a = [5, 4, 7, 66, 2]

# using this list get inddex of number 66.                                                                                                                  a.index(66)

In [ ]:
a = [[[1,2],[3,4]],[[1,2],[3,4]]]

# using for loops display all elements of this list. for i in list:   for j in i:   for k in j:

In [ ]:
a = ['cat', 'dog', 'cat', 'dog'] 

# delete cat from this list. a.remove('cat')

In [ ]:
# sum numbers from [0 to 100]. sum(range(101))

In [3]:
a = "[1,2,66,5,6,7,8]"

# turn this string into list. a = eval(a)

[1, 2, 66, 5, 6, 7, 8]

In [ ]:
a = [1, 2]

# display memory adress of this list. id(a)

In [6]:
a = 2
b = 2

# check if numbers are in the same memory adress. a is b

True

In [8]:
# create a complex number with real part = 10 and imaginary part = 3. complex(10, 3) or 10+3j

(10+1j)

In [13]:
# represent number 15 in binary system. bin(15)

'0b1121'

In [14]:
# represent number 15 in octal system. oct(15)

'0o17'

In [ ]:
# represent number 15 in hexadecimal system. hex(15)